# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env
.env.*

# Distribution / build
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# Testing
.coverage
htmlcov/
.pytest_cache/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
